extends layout

block title
    | Home

block content
    #getting-started
        h1 Python Samples
        span
            | Github 
            a(href='https://github.com/trantamjp/DVDRentalPy') https://github.com/trantamjp/DVDRentalPy
        h2 Sample Data
        h3
            | Download from here 
            a(href='https://www.postgresqltutorial.com/postgresql-sample-database/') https://www.postgresqltutorial.com/postgresql-sample-database/
        ol
            li
                p
                    | Customers List
                    br
                    a(href="#{ url_for('customers', _external=True) }") #{ url_for('customers', _external=True) }
                p
                    | DataTable with server-side processing.
                    br
                    |  The API is 
                    a(href="#{ url_for('api_datatable_customers', _external=True) }" target='_blank') #{ url_for('api_datatable_customers', _external=True) }
                    | . Without the query parameters, the API returns only the first 10 rows.
            li
                p
                    | Films List
                    br
                    a(href="#{ url_for('films', _external=True) }") #{ url_for('films', _external=True) }
                p
                    | DataTable with server-side processing.
                    br
                    |  The API is 
                    a(href="#{ url_for('api_datatable_films', _external=True) }" target='_blank') #{ url_for('api_datatable_films', _external=True) }
                    | . Without the query parameters, the API returns only the first 10 rows.
